<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function openHekateImage() {
            window.open('https://i.etsystatic.com/48113081/r/il/ed5a89/5587997071/il_1140xN.5587997071_sdg5.jpg', '_blank');
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to My Flask App</h1>
        <p>This is a simple Flask application.</p>
        <form action="/submit" method="post">
            <input type="text" name="user_input" placeholder="Enter your text here" required>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>

    <div>
        <button class="hekate-button" type="button" onclick="openHekateImage()">Hekate</button>
    </div>
</body>
</html>
