body {
    background-image: url('background.jpeg'); /* Ensure this image is in your static folder */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 80%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1{
 color: orange;   
}

.user-input { 
    color: lightgreen; 
    font-weight: bold; 
}