body {
    background-image: url('background.jpeg'); /* Ensure this image is in your static folder */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: orange;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 80%;
}
.user-input {
    color: lightgreen;
    font-weight: bold;
}

/* Submit button styling ****/
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    
}
.submit-button:hover {
    background-color: #45a049;
}

/* Hekate button styling ****/
.hekate-button {
    padding: 10px 80px; /* Increase padding to make the button wider */
    border: none;
    border-radius: 75px;
    background-color: #4CAF50; /* Change this to any color you like */
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.hekate-button:hover {
    background-color: black;
}

.container a{
    color:orange;
}
